<% if user_signed_in? %>
  <li>
    <%= link_to(t('devise.auth.logout'), destroy_user_session_path, :method=>'delete') %>
  </li>
  <li>
    <%= link_to(t('devise.auth.edit_account'), edit_user_registration_path) %>
  </li>
<% else %>
  <li>
    <%= link_to(t('devise.auth.sign_in'), new_user_session_path)  %>
  </li>
<% end %>
