// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cut-text {
    white-space: wrap;
    width: 20em;
    height: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
}
